*{
    margin: 0;
    padding: 0;
    font-family: "Arial";
}

#can{
	border:1px solid black;
	margin-left:auto;
	margin-right:auto;
	top:0;
	left:0;
}

ul.projects li{
	list-style:none;
}

ul.nav a{
	color:white;
}

ul.nav a:hover li{
	text-decoration: underline;
	
	
}

ul.nav{
	list-style: none;
	width: 100%;
}

ul.nav li{
	display: inline-block;
	padding:20px;
}

ul.nav li.current{
	color:#292929;
	background-color: white;
}

h1{
    font-size: 32px;
}

h2{
    font-size: 24px;
}

p,label{
    font-size: 16px;
}

body{
    width: 100%;
    min-height: 100%;
}

main{
    margin: 20px;
}

header{
    background-color: #292929;
    color: white;
	padding:2px;
}

footer{
    width: 100%;
    display: inline-block;
    background-color: #292929;
    color: white;
    padding: 10px;
	position: fixed;
    bottom: 0;
}

a{color: #f02850;}
a:visited{color: #f02850;}

footer a{color: #f02850;}
footer a:visited{color: #f02850;}

header h1{
    display: inline-block;
    border-bottom: 1px solid white;
    margin-right: 15px;
}
